html, body {
  height: 100%;
}

body {
  color: #2B547E;
  display: flex;
}

#root {
  margin: auto;
}

.header {
  text-align: center;
  padding-bottom: 30px;
}

.display-container{
  height: 550px;
  width: 430px;
}

.global-error {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

@import 'bar-graph';
@import 'search';
@import 'loading';
